body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03;
}

span {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03;
}

.button-primary {
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: #ffffff;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
}

.button-primary:hover {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--OCEAN, #404bbf);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-primary:focus {
  background-color: #404bbf;
}
