body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

span {
  color: #2e2f42;
}

.header-logo:active {
  color: #404bbf;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts-link {
  color: #434455;
  font-style: normal;
}

.contacts-link:active,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}

.button-primary {
  background: var(--IRIS, #4d5ae5);
  cursor: pointer;
  color: #ffffff;
}

.button-primary:hover,
button-primary:focus {
  background: var(--OCEAN, #404bbf);
}
